<% provide(:title, 'Dashboard') %>

<div class="container">
    <h1>Dashboard - Seu consultório em uma página</h1>
    <p><%= link_to 'Registro de Pacientes', pacientes_path %></a></p>
    <p><%= link_to 'Controle Financeiro', financeiros_path %></a></p>
    <p><%= link_to 'Agendamentos', agendamentos_path %></a></p>
</div>